{{
    knp_menu_render(admin_core_context.knp_menu.main_menu, {
        "template"      : "@AdminCore/Partials/_menu.html.twig",
        "currentClass"  : "active",
        "ancestorClass" : "active",
        "branch_class"  : "treeview"
    })
}}