<!-- sidebar menu: : style can be found in sidebar.less -->
{% from "@AdminCore/Macros/menu.html.twig" import menu_item %}
<ul class="sidebar-menu" data-widget="tree">
    {% for item in menu %}
        {{ menu_item(item) }}
    {% endfor %}
</ul>
