{% import "@AdminCore/Macros/default.html.twig" as macro %}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
    {{ macro.avatar(user.avatar, user.username)  }}
    </div>
    <div class="pull-left info">
        <p>{{ user.name }}</p>

        <a href="#"><i class="fas fa-circle text-success"></i> {{ 'Online'|trans({}, 'AdminCoreBundle') }}</a>
    </div>
</div>
