{% extends '@AdminCore/layout/security-layout.html.twig' %}

{% block login_social_auth %}{% endblock %}

{% block login_form %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}

{% block login_actions %}
    <br>
    <a href="{{ path('admincore_login'|route_alias) }}">
        {{ 'Back to login'|trans({}, 'AdminCoreBundle') }}
    </a>
{% endblock %}
