{% import "@AdminCore/Macros/default.html.twig" as macro %}
<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="far fa-envelope"></i>
        <span class="label label-success">{{ total }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">{{ 'You have %count% messages'|trans({'%count%':total}, 'AdminCoreBundle') }}</li>
        <li>
            <ul class="menu">
                {% for msg in messages %}
                    <li>
                        <a href="{{ path('admincore_message'|route_alias, {'id': msg.identifier}) }}">
                            <div class="pull-left">
                                {{ macro.avatar(msg.from.avatar, msg.from.username) }}
                            </div>
                            <h4>
                                {{ msg.from.username }}
                                <small><i class="far fa-clock"></i> {{ msg.sentAt|date('d.m.Y H:i') }}</small>
                            </h4>
                            <p>{{ msg.subject }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="footer"><a href="{{ path('admincore_messages'|route_alias) }}">{{'View all'|trans({}, 'AdminCoreBundle')}}</a></li>
    </ul>
</li>
