<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="far fa-bell"></i>
        <span class="label label-warning">{{ total }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">{{ 'You have %count% notifications'|trans({'%count%':total}, 'AdminCoreBundle') }}</li>
        <li>
            <ul class="menu">
                {% for notice in notifications %}
                    <li>
                        <a href="{{ path('admincore_notification'|route_alias, {'id': notice.identifier}) }}">
                            <i class="{{ notice.icon }} {{ notice.type|text_type }}"></i> {{ notice.message }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="footer"><a href="{{ path('admincore_notifications'|route_alias) }}">{{'View all'|trans({}, 'AdminCoreBundle')}}</a></li>
    </ul>
</li>
