<li class="dropdown tasks-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="far fa-flag"></i>
        <span class="label label-danger">{{ total }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">{{ 'You have %count% tasks' |trans({'%count%':total}, 'AdminCoreBundle') }}</li>
        <li>
            <ul class="menu">
                {% for task in tasks %}
                    <li>
                        <a href="{{ path('admincore_task'|route_alias, {'id': task.identifier}) }}">
                            <h3>
                                {{ task.title }}
                                <small class="pull-right">{{ task.progress }}%</small>
                            </h3>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-{{ task.color }}"
                                     style="width: {{ task.progress }}%"
                                     role="progressbar"
                                     aria-valuenow="{{ task.progress }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                    <span class="sr-only">{{ '%progress%% Complete'|trans({'%progress%':task.progress}, 'AdminCoreBundle') }}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                {%  endfor  %}
            </ul>
        <li class="footer">
            <a href="{{ path('admincore_tasks'|route_alias) }}">{{'View all'|trans({}, 'AdminCoreBundle')}}</a>
        </li>
    </ul>
</li>
