{# @var links \KevinPapst\AdminCoreBundle\Model\NavBarUserLink[] #}
{# @var showProfileLink bool #}
{# @var showLogoutLink bool #}
{% import "@AdminCore/Macros/default.html.twig" as macro %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ macro.avatar(user.avatar, user.username, 'user-image') }}
        <span class="hidden-xs">{{ user.name }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            {{ macro.avatar(user.avatar, user.username) }}
            <p>
                {{ user.name }} - {{ user.title }}
                <small>{{ 'Member since %date%'|trans({'%date%': user.memberSince|date('m.Y') }, 'AdminCoreBundle') }}</small>
            </p>
        </li>
        {% if links %}
            <!-- Menu Body -->
            <li class="user-body">
                {% for link in links %}
                    <div class="col-xs-4 text-center">
                        <a href="{{ path(link.path|route_alias, link.parameters) }}">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </li>
        {% endif %}
        {% if showLogoutLink or showProfileLink %}
            <!-- Menu Footer-->
            <li class="user-footer">
                {% if showProfileLink %}
                    <div class="pull-left">
                        <a href="{{ path('admincore_profile'|route_alias, {'id' : user.identifier}) }}"
                           class="btn btn-default btn-flat">{{ 'Profile'|trans({}, 'AdminCoreBundle') }}</a>
                    </div>
                {% endif %}
                {% if showLogoutLink %}
                    <div class="pull-right">
                        <a href="{{ logout_path() }}"
                           class="btn btn-default btn-flat">{{ 'Sign out'|trans({}, 'AdminCoreBundle') }}</a>
                    </div>
                {% endif %}
            </li>
        {% endif %}
    </ul>
</li>
