{% extends '@AdminCore/layout/security-layout.html.twig' %}
{#
    @deprecated Using "@AdminCore/layout/login-layout.html.twig" is deprecated. Use "@AdminCore/layout/security-layout.html.twig" instead.

    this file is only here for backward compatibility and will be removed with 2.0

#}