<!DOCTYPE html{% block html_start %}{% endblock %}>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}
    <title>{% block title %}AdminCore 2 | Log in{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/admincore/admincore.css') }}">
    {% endblock %}
</head>
<body{% block body_start %}{% endblock %} class="hold-transition login-page">
{% block after_body_start %}{% endblock %}
{% block login_box %}
    <div class="login-box">
        <div class="login-logo">
            {% block logo_login %}<b>Admin</b>LTE{% endblock %}
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">
                {% block login_box_msg %}{% endblock %}
                {% block login_box_error %}
                    {% if error|default(false) %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                {% endblock %}
            </p>

            {% block login_form %}
            <form action="{{ path('admincore_login_check'|route_alias) }}" method="post">
                {% block login_form_start %}{% endblock %}
                <div class="form-group has-feedback">
                    <input type="text" name="_username" class="form-control" placeholder="{{ 'Username'|trans({}, 'AdminCoreBundle') }}" value="{{ last_username|default('') }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input name="_password" type="password" class="form-control" placeholder="{{ 'Password'|trans({}, 'AdminCoreBundle') }}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <input id="remember_me" name="_remember_me" type="checkbox">
                            <label for="remember_me">{{ 'Remember Me'|trans({}, 'AdminCoreBundle') }}</label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'Sign In'|trans({}, 'AdminCoreBundle') }}</button>
                    </div>
                </div>
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                {% endif %}
                {% block login_form_end %}{% endblock %}
            </form>
            {% endblock %}
            {% block login_social_auth %}
            <div class="social-auth-links text-center">
                <p>{{ '- OR -'|trans({}, 'AdminCoreBundle') }}</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fab fa-facebook"></i>
                    {{ 'Sign in using Facebook'|trans({}, 'AdminCoreBundle') }}
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fab fa-google-plus"></i>
                    {{ 'Sign in using Google+'|trans({}, 'AdminCoreBundle') }}
                </a>
            </div>
            {% endblock %}
            {% block login_actions %}
                {% if 'admincore_password_reset'|route_alias != 'admincore_password_reset' %}
                    <a href="{{ path('admincore_password_reset'|route_alias) }}">
                        {{ 'I forgot my password'|trans({}, 'AdminCoreBundle') }}
                    </a>
                    <br>
                {% endif %}
                {% if 'admincore_registration'|route_alias != 'admincore_registration' %}
                    <a href="{{ path('admincore_registration'|route_alias) }}" class="text-center">
                        {{ 'Register a new account'|trans({}, 'AdminCoreBundle') }}
                    </a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/admincore/admincore.js') }}"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}

</body>
</html>
