{% import '@AdminCore/Macros/buttons.html.twig' as button %}
{% if block('box_before') is defined %}{{ block('box_before') }}{% endif %}

{% set _collapsed = collapsed|default(false) %}
{% set _solid     = solid|default(admin_core_context.widget.solid)  %}
{% set _border    = border|default(admin_core_context.widget.bordered)  %}
{% set _footer    = use_footer|default(admin_core_context.widget.use_footer) or block('box_footer') is defined %}

{% if removable is not defined %}
    {% set removable = admin_core_context.widget.removable %}
{% endif %}
{% if collapsible is not defined %}
    {% set collapsible =  (_collapsed or admin_core_context.widget.collapsible) %}
{% endif %}
<div class="box box-{{ boxtype|default(admin_core_context.widget.type) }}{{ _solid ? ' box-solid' : '' }}{{ _collapsed ? ' collapsed-box' : '' }}">
    <div class="box-header{{ _border ? ' with-border' : '' }}">
        <h3 class="box-title">{{ block('box_title') }}</h3>
        <div class="box-tools pull-right">
	        {% if block('box_tools') is defined %}{{ block('box_tools') }}{% endif %}
            <!-- Buttons, labels, and many other things can be placed here! -->
            {% if collapsible %}
                {{ button.action_toolbutton(
                    _collapsed ? 'fas fa-plus'  : 'fas fa-minus' ,
                    'collapse',
                    collapsible_title|default(admin_core_context.widget.collapsible_title|default()|trans({}, 'AdminCoreBundle'))
                ) }}
            {% endif %}

            {% if removable %}
                {{ button.action_toolbutton(
                'fas fa-times',
                'remove',
                removable_title|default(admin_core_context.widget.removable_title|default()|trans({}, 'AdminCoreBundle'))
                ) }}
            {% endif %}

        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">{{ block('box_body') }}</div><!-- /.box-body -->
    {% if _footer %}
        <div class="box-footer">{% if block('box_footer') is defined %}{{ block('box_footer') }}{% endif %}</div><!-- box-footer -->
    {% endif %}
</div><!-- /.box -->
{% if block('box_after') is defined %}{{ block('box_after') }}{% endif %}
