<ol class="breadcrumb">
    <li>
        <a href="{{ path('admincore_welcome'|route_alias) }}">
            <i class="fas fa-tachometer-alt"></i>
            {{ 'Home'|trans({}, 'AdminCoreBundle') }}
        </a>
    </li>
    {% if active %}
        {% for item in active %}
            <li><a href="{{ item.route is empty ? '#' : '/' in item.route ? item.route : path(item.route|route_alias, item.routeArgs) }}">{{ item.label|trans }}</a></li>
        {% endfor %}
    {% endif %}
</ol>