{% extends '@AdminCore/layout/security-layout.html.twig' %}

{% block login_social_auth %}{% endblock %}

{% block login_box_msg %}
    {{ 'Sign in to start your session'|trans({}, 'AdminCoreBundle') }}
{% endblock %}